# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenvs
.venv/
venv/
env/

# Django
*.log
staticfiles/
static_root/
media/
local_settings.py
db.sqlite3

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Env & secrets
.env
*.env
.env.*  
